---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
AllowShortIfStatementsOnASingleLin: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
BreakBeforeBraces: Attach
SeparateDefinitionBlocks: Always
Cpp11BracedListStyle: false
